<div class="contained footer-box">
{% if section.settings.newsletter_enable %}
     <p class="h2 text-white cooper">
      {{ section.settings.newsletter_form_heading | escape }}
    </p>
    {% if section.settings.newsletter_form_subheading != blank %}
      <div class="password__form-subheading rte">{{ section.settings.newsletter_form_subheading }}</div>
    {% endif %}
  <div class="klaviyo-signup">
<div class="klaviyo-form-LPS6EQ"></div>
</div>
{% endif %}
  <div style=" margin: 2em auto; ">
 {% include 'addthis' %}
  </div>
{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

{% if section.settings.logo %}
  {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <a href="/" itemprop="url" class="site-header__logo-image">
    {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
    <img class="lazyload js header-logo-inner" style=""
         src="{{ section.settings.logo | img_url: '300x300' }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
         data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ logo_alt | escape }}"
         style="max-width: {{ section.settings.logo_max_width }}px">
    <noscript>
      {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: image_size }}"
           srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
           alt="{{ section.settings.logo.alt | default: shop.name }}"
           itemprop="logo"
           style="max-width: {{ section.settings.logo_max_width }}px;">
    </noscript>
  </a>
{% else %}
  <h1 class="site-header__logo-link">
    <span class="logo">{{ shop.name }}</span>
  </h1>
{% endif %}
<div>
{% schema %}
  {
    "name": {
      "en": "Footer",
      "de": "Fußzeile",
      "fr": "Pied de page",
      "it": "Footer",
      "ja": "フッター",
      "es": "Pie de página",
      "pt-BR": "Rodapé"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "en": "Show social sharing buttons",
          "de": "Buttons für Social Media anzeigen",
          "fr": "Affichez les boutons de partage sur les médias sociaux",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "ja": "ソーシャル共有ボタンを表示する",
          "es": "Mostrar botones para compartir en redes sociales",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": true
      },
      {
      "type": "image_picker",
        "id": "logo",
        "label": {
          "en": "Logo image",
          "de": "Logo-Foto",
          "fr": "Image du logo",
          "it": "Immagine del logo",
          "ja": "ロゴ画像",
          "es": "Logotipo",
          "pt-BR": "Imagem do logotipo"
        }
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "label": {
          "en": "Custom logo width",
          "de": "Logobreite",
          "fr": "Largeur personnalisée du logo",
          "it": "Larghezza logo personalizzato",
          "ja": "ロゴの幅をカスタムする",
          "es": "Ancho del logotipo personalizado",
          "pt-BR": "Largura do logotipo personalizado"
        },
        "min": 50,
        "max": 500,
        "step": 10,
        "unit": {
          "it": "px",
          "en": "px",
          "ja": "px",
          "fr": "px",
          "es": "px",
          "pt-BR": "px",
          "de": "px"
        },
        "default": 100
      },
      {
        "type": "text",
        "id": "social_message",
        "label": {
          "en": "Social sharing buttons heading",
          "de": "Titel für Social Media Buttons",
          "fr": "Titre des options de partage",
          "it": "Titolo dei pulsanti per la condivisione sui social",
          "ja": "ソーシャル共有ボタンの見出し",
          "es": "Título de botones para compartir en redes sociales",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": {
          "en": "Spread the word",
          "de": "Machen Sie Werbung",
          "fr": "Faites passer le mot",
          "it": "Spargi la voce",
          "ja": "言葉を広める",
          "es": "Riega la voz",
          "pt-BR": "Divulgue a novidade"
        }
      },{
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": {
          "en": "Show newsletter signup",
          "de": "Newsletter Signup zeigen",
          "fr": "Afficher l'inscription à la newsletter",
          "it": "Mostra iscrizione alla newsletter",
          "ja": "ニュースレターのサインアップを表示する",
          "es": "Mostrar suscripción al boletín",
          "pt-BR": "Exibir assinatura da newsletter"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": {
          "en": "Newsletter form heading",
          "de": "Newsletter-Formular Titel",
          "fr": "Titre du formulaire d'inscription à la newsletter",
          "it": "Intestazione del modulo della newsletter",
          "ja": "ニュースレターフォームの見出し",
          "es": "Título del formulario del boletín",
          "pt-BR": "Título do formulário da newsletter"
        },
        "default": {
          "en": "Be the first to know when we launch.",
          "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
          "fr": "Faites partie des premières personnes à être informées de notre lancement.",
          "it": "Sii il primo a sapere quando effettueremo il lancio.",
          "ja": "私達が発売をする時に誰よりも早く知ってください。",
          "es": "Entérate de nuestros lanzamientos antes que los demás.",
          "pt-BR": "Seja o primeiro a saber quando lançarmos."
        }
      },
      {
        "type": "richtext",
        "id": "newsletter_form_subheading",
        "label": {
          "en": "Subheading",
          "de": "Unter-Überschrift",
          "fr": "Sous-titre",
          "it": "Sottotitolo",
          "ja": "小見出し",
          "es": "Subtítulo",
          "pt-BR": "Subtítulo"
        },
        "default": {
          "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
          "de": "<p>Eine kurze Beschreibung zum Inhalt des Newsletters</p>",
          "fr": "<p>Petite phrase qui décrit ce qu'on reçoit en s'inscrivant</p>",
          "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
          "ja": "<p>購読している人が何を受け取ることができるかについて説明する短い文章</p>",
          "es": "<p>Una frase corta que describe lo que las personas recibirán al suscribirse</p>",
          "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>"
        }
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": {
          "en": "Newsletter placeholder text",
          "de": "Newsletter-Platzhalter Text",
          "fr": "Paramètre fictif de la newsletter",
          "it": "Testo del segnaposto della Newsletter",
          "ja": "ニュースレターのプレースホルダテキスト",
          "es": "Texto de marcador de posición del boletín",
          "pt-BR": "Texto do marcador de posição da newsletter"
        },
        "default": {
          "en": "Email address",
          "de": "E-Mail-Adresse",
          "fr": "Adresse e-mail",
          "it": "Indirizzo email",
          "ja": "メールアドレス",
          "es": "Dirección de correo electrónico",
          "pt-BR": "E-mail"
        }
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": {
          "en": "Newsletter button text",
          "de": "Newsletter-Button Text",
          "fr": "Texte du bouton de la newsletter",
          "it": "Testo del pulsante Newsletter",
          "ja": "ニュースレターボタンのテキスト",
          "es": "Texto del botón del boletín",
          "pt-BR": "Texto do botão da newsletter"
        },
        "default": {
          "en": "Notify me",
          "de": "Sagen Sie mir Bescheid",
          "fr": "Je souhaite être informé(e)",
          "it": "Avvisami",
          "ja": "通知を受け取る",
          "es": "Notificarme",
          "pt-BR": "Notifique-me"
        }
      }
    ]
  }
{% endschema %}
