<div class="password-icon-bar" style="background-color: {{ section.settings.bg_color }}">
<div class="contained center-grid">
  <div class="grid small-grid">
    {% comment %} <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon1 | img_url: '300x300' }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon2 | img_url: '300x300' }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon3 | img_url: '300x300' }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon4 | img_url: '300x300' }}">
      <p>No Artificial<br/>Flavours</p>
    </div>
  {% endcomment %}
    {% comment %} <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'organic.png' | asset_url }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'chemicals.png' | asset_url }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'pesticides.png' | asset_url }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'colors.png' | asset_url }}">
      <p>No Artificial<br/>Flavours</p>
    </div> {% endcomment %}
    <p class="icon-bar-text">{{ section.settings.copy }}</p>
  </div>
</div>
</div>
{% schema %}
{
"settings": [
    {
        "type": "text",
        "id": "copy",
        "label": "Copy",
        "default": "Launching November 2018"
      },
     {
        "type": "color",
        "id": "bg_color",
        "default": "#ffffff",
        "label": "Background Color"
      }
    ]
}
{% endschema %}