<div class="password-icon-bar" style="background-color: {{ section.settings.bg_color }}">
<div class="contained center-grid">
  <div class="grid small-grid">
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon1 | img_url: '300x300' }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon2 | img_url: '300x300' }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon3 | img_url: '300x300' }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon4 | img_url: '300x300' }}">
      <p>No Artificial<br/>Flavours</p>
    </div>
  </div>
  {% comment %} <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Organic.svg' | asset_url }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Chemicals.svg' | asset_url }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Pesticides.svg' | asset_url }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Colors.svg' | asset_url }}">
      <p>No Artificial<br/>Flavours</p>
    </div> {% endcomment %}
</div>
</div>
{% schema %}
{
"settings": [
    {
        "type": "image_picker",
        "id": "icon1",
        "label": "icon 1"
      },
      {
        "type": "image_picker",
        "id": "icon2",
        "label": "icon 2"
      },
      {
        "type": "image_picker",
        "id": "icon3",
        "label": "icon 3"
      },
      {
        "type": "image_picker",
        "id": "icon4",
        "label": "icon 4"
      },
        "type": "color",
        "id": "bg_color",
        "default": "#ffffff"
        "label": "Background Color"
      }
    ]
}
{% endschema %}